{% set isEmpty = (pages == 0) %}
{% set isFirstPage = (currentPage == 1) %}
{% set isLastPage = (currentPage == pages) %}
<ul class="pagination pull-right" data-baseurl="{{ url(routeName, routeParams|merge({ 'page': 0 })) }}">
    <li class="{% if isFirstPage %}disabled{% endif %}">
        <a href="{{ isFirstPage ? 'javascript:;' : path(routeName, routeParams|merge({ 'page': 1 })) }}">&laquo;</a>
    </li>
    <li class="{% if isFirstPage %}disabled{% endif %}">
        <a href="{{ isFirstPage ? 'javascript:;' : path(routeName, routeParams|merge({ 'page': currentPage > 1 ? currentPage - 1 : 1 })) }}">&lsaquo;</a>
    </li>
    <li class="input-container">
        <span>
            <input type="text" value="{{ currentPage }}" class="form-control input-sm" data-page="{{ currentPage }}" data-pages="{{ pages }}" />
            &nbsp;di&nbsp;{{ pages > 0 ? pages : 1 }}
        </span>
    </li>
    <li class="{% if isLastPage or isEmpty %}disabled{% endif %}">
        <a href="{{ isLastPage or isEmpty ? 'javascript:;' : path(routeName, routeParams|merge({ 'page': currentPage + 1 })) }}">&rsaquo;</a>
    </li>
    <li class="{% if isLastPage or isEmpty %}disabled{% endif %}">
        <a href="{{ isLastPage or isEmpty ? 'javascript:;' : path(routeName, routeParams|merge({ 'page': pages > 0 ? pages : 1 })) }}">&raquo;</a>
    </li>
</ul>